examples/chat_room.json
[{"id":"71ccd2a0.586bac","type":"tab","label":"Chat Room","disabled":false,"info":""},{"id":"8ee29025.58f7b","type":"socket.io-on","z":"71ccd2a0.586bac","name":"","instance":"2409bc7d.c88ec4","event":"connection","namespace":"","x":220,"y":380,"wires":[["97e874dd.ff9fc8"]]},{"id":"6cf43bf9.ca7de4","type":"socket.io-on","z":"71ccd2a0.586bac","name":"","instance":"","event":"message","namespace":"","x":750,"y":380,"wires":[["86818461.f70e58"]]},{"id":"68cd27b8.259178","type":"socket.io-middleware-start","z":"71ccd2a0.586bac","name":"","instance":"2409bc7d.c88ec4","namespace":"","x":250,"y":260,"wires":[["969f1067.ec604"]]},{"id":"cd931ae4.9fed78","type":"socket.io-middleware-end","z":"71ccd2a0.586bac","name":"","x":750,"y":260,"wires":[]},{"id":"969f1067.ec604","type":"function","z":"71ccd2a0.586bac","name":"check room","func":"const room = msg.socket.handshake.query.room;\n\nif(room.indexOf(\"@\") === -1) {\n    msg.payload = false;\n    msg.errMsg = `Invalid room information: ${room}`;\n    return msg\n}\n\nmsg.payload = true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":260,"wires":[["cd931ae4.9fed78"]]},{"id":"116fa4cb.9c6e2b","type":"comment","z":"71ccd2a0.586bac","name":"socket connection & add message event listener on this socket","info":"","x":360,"y":340,"wires":[]},{"id":"86818461.f70e58","type":"function","z":"71ccd2a0.586bac","name":"send msg to room","func":"msg.payload = msg.payload[0];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":380,"wires":[["b57998a2.ee4f78"]]},{"id":"87a3013b.ebeb1","type":"socket.io-join-room","z":"71ccd2a0.586bac","name":"join room","room":"","x":560,"y":380,"wires":[["6cf43bf9.ca7de4"]]},{"id":"97e874dd.ff9fc8","type":"function","z":"71ccd2a0.586bac","name":"get room","func":"msg.room = msg.socket.handshake.query.room;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":380,"wires":[["87a3013b.ebeb1"]]},{"id":"b57998a2.ee4f78","type":"socket.io-emit","z":"71ccd2a0.586bac","name":"","instance":"2409bc7d.c88ec4","event":"message","namespace":"","room":"","x":1160,"y":380,"wires":[]},{"id":"2409bc7d.c88ec4","type":"socket.io-instance","name":"","port":"3005","options":"{\n    \"cors\": {\n        \"origin\": \"*\",\n        \"credentials\": false\n    }\n}"}]